<form [formGroup]="demoForm" >
  <label for="id">Id: </label>
  <input type="text" id="id" formControlName="id">
  <label for="name">Name: </label>
  <input type="text" id="name" formControlName="name" [(ngModel)]="check">
  <label for="age">Age: </label>
  <input type="text" id="age" formControlName="age">
  <p *ngIf="demoForm.get('age')?.errors?.['min']" style="color: red">Có lỗi</p>
  <p *ngIf="demoForm.get('age')?.errors?.['max']" style="color: red">Có lỗi 2</p>
  <label for="address">Address: </label>
  <input type="text" id="address" formControlName="address">
  <button (click)="onSubmit($event)">Submit</button>
</form>
<p [innerText]="check"></p>
